@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
    font-size: 1.2rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px;
    margin-left: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.logo-img:hover {
    transform: scale(1.1);
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 1rem;
    position: relative;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.nav-links li a.active {
    border-bottom: 2px solid #007BFF;
}

.nav-links li a:hover {
    color: #007BFF;
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative; 
}

.search-container input {
    padding: 0.5rem 2.5rem 0.5rem 0.5rem; 
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    width: 200px;
    transition: width 0.3s ease-in-out;
}

.search-container input:focus {
    border-color: #007BFF;
    width: 250px;
}

.search-container button {
    position: absolute; 
    right: 0.5rem;
    background: none;
    border: none; 
    color: #007BFF;
    cursor: pointer;
    padding: 0;
    font-size: 1.2rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search-container button::before {
    content: "\1F50D";
    font-size: 1.2rem; 
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: transform 0.3s ease-in-out;
}

.hamburger.is-active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.is-active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

main {
    padding: 2rem;
    background-color: #fff;
    margin: 5rem auto 1rem; 
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
    font-size: 1rem;
    line-height: 1.8;
}

main:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 2rem;
}

.bg-image {
    background-image: url('img/home.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    position: relative;
    transition: background 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
}

.bg-image .overlay {
    padding: 50px 50px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
    background: rgba(116, 116, 116, 0.8);
    color: #fff; 
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.slide-in {
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

h1 , h2{
    color: #000000;
    font-weight: 900;
    font-size: 2rem;
    transition: color 0.3s ease-in-out;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
    font-size: 0.9rem;
}

img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}

.service-img {
    height: 200px; 
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 calc(33.333% - 1rem);
    margin: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    transition: transform 0.3s ease-in-out;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
        background: #333;
        position: absolute;
        top: 60px;
        width: 100%;
        left: 0;
        padding: 0;
        transition: max-height 0.3s ease-in-out;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        margin: 0.5rem 0;
        text-align: center;
        width: 100%;
    }

    .nav-links li a {
        padding: 1rem;
        display: block;
        width: 100%;
    }

    .hamburger {
        display: flex;
    }

    .hamburger .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-container {
        margin-bottom: 1rem;
    }

    .search-container {
        margin-top: 1rem;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }
}

#services ul li a {
    color: #007BFF;
    text-decoration: none;
}

#services ul li a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

form:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

form label {
    margin: 0.9rem 0 0.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

form label::before {
    content: attr(data-icon); 
    margin-right: 0.6rem;
}

form input, form textarea {
    padding: 12px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

form input:focus, form textarea:focus {
    border-color: #007BFF;
}

form button {
    padding: 0.7rem;
    border: none;
    background: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    transition: background 0.3s ease-in-out;
}

form button:hover {
    background: #0056b3;
}

.bg-blur {
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: relative;
    padding: 5rem 0;
    color: #fff;
    text-align: center;
    transition: filter 0.3s ease-in-out;
}

.bg-blur:hover {
    filter: blur(5px);
}

.bg-blur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.contact-form {
    z-index: 1;
    background: rgba(255, 255, 255, 0.9); 
    padding: 2rem;
    border-radius: 8px; 
    width: 700px;
}
.cont {
    background-image: url(img/contact.avif);
    background-size: cover;
    background-position: center;
    margin-top: 130px;
    width: 750px;
    transition: background 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
}
